
html {
  box-sizing: border-box;
  font-size: 62.5%; 
  scroll-behavior: smooth;   
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 2;
}

div[id] {
  scroll-margin-top: 150px;
}


